<!DOCTYPE html>
<html>
    <head>
		<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Bitter:700' rel='stylesheet' type='text/css'>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title">
				  <a href="/">
					  <span class="oldstandard">On </span>
					  <span class="center">
						  <span class="bitter">Life </span>
						  <span class="oldstandard"> and </span>
						  <span class="bitter"> Technology</span>
					  </span>
				  </a>
				</h1>
            </div>
			<div class="content">
                {{ content }}
			</div>
            <div class="footer"> 
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
